bcrypt
cookie-parser
cors
dotenv
express
ioredis
jsonwebtoken
mongoose
ts-node-dev 
@types/bcryptjs 
@types/cookie-parser 
@types/cors
@types/express
@types/jsonwebtoken
@types/node
typescript
ejs
nodemailer
@types/ejs
@types/nodemailer

#stopped at 2:28:27